// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#item-list-container{
	max-width: 1500px;
	.item-col{
		width: 240px;
		height: 342px;
		margin-bottom: 10px;
		padding: 0px;
		.item-cell{
			strong{
				display: block;
			}
			i{
				display: block;
			}
			.item-image{
				text-align: center;
				vertical-align: middle;
				height: 155px;
			}
		}
	}
}

.link-item-cell{
	display: block;
}

.link-item-cell:hover{
	text-decoration: none;
}

.item-cell {
	width: 230px;
	height: 340px;
	vertical-align: middle;
	border: solid 1px;
	padding: 5px;
}

.topic-image{
	width: 215px;
	height: 150px;
}
