- @data[:items].each do |item|
  .col-md-2.item-col
    = link_to news_show_path(topic: item[:link]), class: 'link-item-cell' do
      .item-cell
        strong= item[:title]
        i= item[:link_note]
        .item-image
          .spinner-border.text-success.item-image-spinner role='status' data-link="#{item[:link]}"
            span.sr-only Loading...
        i= item[:votes]
