$('.loading-col').hide();
$('#item-list-row').append("<%= j (render('items')) %>");
'<% if @data[:more].present? %>'
  $('.more-col').removeClass('hide');
'<% else %>'
  $('.more-col').addClass('hide');
'<% end %>'

$('.item-image-spinner').each(function(index, obj){
  $.ajax({
    url: Routes.news_get_topic_path(),
    dataType: 'json',
    type: 'GET',
    data: {url: $(this).data('link')},
    success: function(response){
      $(obj).parent().html("<img src='" + response.image + "' alt='topic_image' class='topic-image'>");
    },
    fail: function(jqXHR, textStatus, errorThrown ){
      $(obj).parent().html("<img src='' alt='topic_image' class='topic-image'>");
    }
  });
})
