.container#item-list-container
  .row#item-list-row
  .row.loading-col
    .col-md-12
      .spinner-border.text-success role='status'
        span.sr-only Loading...
  .row.more-col.hide
    .col-md-12= link_to t('views.news.index.more'), 'javascripts:;', class: 'btn btn-info more-link'

= javascript_pack_tag 'news'
