.container#topic
  .row
    .col-md-12
      strong.back-btn
      = link_to t('views.news.show.back'), root_path
  .row.loading-col
    .col-md-12
      .spinner-border.text-success role='status'
        span.sr-only Loading...

= javascript_pack_tag 'show'